// // src/styles/custom.scss

// .tailwind-scope {
//   --color-primary: 37 99 235; /* a.k.a blue-600 */
//   --color-primary-highlighted: 29 78 216; /* a.k.a blue-700 */
//   --color-neutral: 17 24 39; /* a.k.a gray-900 */
//   --color-neutral-faded: 107 114 128; /* a.k.a gray-500 */
//   --color-on-primary: 255 255 255; /* a.k.a white */
//   --color-on-neutral: 17 24 39; /* a.k.a gray-900 */

//   --color-background-primary: var(--color-primary);
//   --color-on-background-primary: var(--color-on-primary);

//   --space-xs: 0.25rem;
//   --space-s: 0.5rem;
//   --space-m: 1rem;
//   --space-l: 1.5rem;
//   --space-xl: 2rem;

//   --rounded-base: 0.75rem; /* 12px */

//   --font-m: 1rem;
//   --font-l: 1.125rem;
//   --font-xl: 1.5rem;

//   --container-s: 600px;
// }

// /* anek-devanagari-100 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 100;
//     src: url('../fonts/anek-devanagari-v16-latin-100.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-200 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 200;
//     src: url('../fonts/anek-devanagari-v16-latin-200.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-300 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 300;
//     src: url('../fonts/anek-devanagari-v16-latin-300.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-regular - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 400;
//     src: url('../fonts/anek-devanagari-v16-latin-regular.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-500 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 500;
//     src: url('../fonts/anek-devanagari-v16-latin-500.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-600 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 600;
//     src: url('../fonts/anek-devanagari-v16-latin-600.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-700 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/anek-devanagari-v16-latin-700.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* anek-devanagari-800 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Anek Devanagari';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../fonts/anek-devanagari-v16-latin-800.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-200 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 200;
//     src: url('../fonts/assistant-v23-latin-200.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-300 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 300;
//     src: url('../fonts/assistant-v23-latin-300.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-regular - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 400;
//     src: url('../fonts/assistant-v23-latin-regular.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-500 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 500;
//     src: url('../fonts/assistant-v23-latin-500.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-600 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 600;
//     src: url('../fonts/assistant-v23-latin-600.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-700 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/assistant-v23-latin-700.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* assistant-800 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Assistant';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../fonts/assistant-v23-latin-800.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-100 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 100;
//     src: url('../fonts/inter-v19-latin-100.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-100italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 100;
//     src: url('../fonts/inter-v19-latin-100italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-200 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 200;
//     src: url('../fonts/inter-v19-latin-200.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-200italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 200;
//     src: url('../fonts/inter-v19-latin-200italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-300 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 300;
//     src: url('../fonts/inter-v19-latin-300.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-300italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 300;
//     src: url('../fonts/inter-v19-latin-300italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-regular - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 400;
//     src: url('../fonts/inter-v19-latin-regular.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 400;
//     src: url('../fonts/inter-v19-latin-italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-500 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 500;
//     src: url('../fonts/inter-v19-latin-500.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-500italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 500;
//     src: url('../fonts/inter-v19-latin-500italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-600 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 600;
//     src: url('../fonts/inter-v19-latin-600.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-600italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 600;
//     src: url('../fonts/inter-v19-latin-600italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-700 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/inter-v19-latin-700.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-700italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 700;
//     src: url('../fonts/inter-v19-latin-700italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-800 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../fonts/inter-v19-latin-800.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-800italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 800;
//     src: url('../fonts/inter-v19-latin-800italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-900 - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 900;
//     src: url('../fonts/inter-v19-latin-900.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* inter-900italic - latin */
// @font-face {
//     font-display: swap;
//     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Inter';
//     font-style: italic;
//     font-weight: 900;
//     src: url('../fonts/inter-v19-latin-900italic.woff2') format('woff2');
//     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }


.get-started-video .col-right-custom {
    position: relative;
    flex: 0 0 100%;
    max-width: 24.68vw;
    /*474px;*/
    padding-top: 5.20vw;
    /*100px;*/
}

.get-started-video .col-right-custom:before {
    content: "";
    display: block;
    position: absolute;
    background: no-repeat center/cover url('https://a.wellnessclinicmarketing.com/wp-content/themes/agencymarketing/assets/img/frm-arrow.png');
    width: 14.27vw;
    /*274px;*/
    height: 10.83vw;
    /*208px;*/
    left: -4.16vw;
    /*-80px;*/
    top: -6.25vw;
    /*-120px;*/
    z-index: 0;
}

// .get-started-video .h2-title,.get-started-video .col-right-custom *{z-index:1;}
@media only screen and (max-width:922px) {
    .get-started-video .col-right-custom {
        max-width: 50%;
    }

}

@media only screen and (max-width:768px) {
    .get-started-video .col-right-custom {
        padding-top: 50px;
        order: 1;
    }

    .get-started-video .col-right-custom:before {
        width: 150px;
        height: 114px;
        top: -70px;
        left: 40%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width:768px) {
    .circle-item figure {
        height: 100px !important;
    }
}

/* events */
.gallery-slider .slick-prev {
    left: 0px;
}

.gallery-slider .slick-next {
    right: 0px;
}

.slick-dots li button:before {
    width: 0px !important;
}

.circle-box {
    overflow: unset !important;
}

@media only screen and (max-width: 767px) {
    .circle-box .h3-title {
        line-height: 2.03 !important;
    }
}